@font-face {
  font-family: "CaviarDreams-Bold";
  src: url("../fonts/CaviarDreams-Bold.eot");
  src: url("../fonts/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"),
    url('../fonts/CaviarDreams-Bold.woff') format('woff'),
    url("../fonts/CaviarDreams-Bold.ttf") format("truetype"),
    url('../fonts/CaviarDreams-Bold.svg#CaviarDreams-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Furore";
  src: url("../fonts/Furore.eot");
  src: url("../fonts/Furore.eot?#iefix") format("embedded-opentype"),
    url('../fonts/Furore.woff') format('woff'),
    url("../fonts/Furore.ttf") format("truetype"),
    url('../fonts/Furore.svg#Furore') format('svg');
  font-style: normal;
  font-weight: normal;
}
