#__spm {
	background-color: $layoutDark;
	min-height: 100%;

	.sort-button {
		display: inline-block;
		float: right;
		width: 210px;
		height: 70px;
		margin-top: 15px;
		margin-right: 15px;
		padding: 14px 0 0 25px;
		background-color: $inactiveBlue;
		background-image: url("/images/sort-button.png");
		background-repeat: no-repeat;
		background-position: 150px center;
		background-size: 38px;
		font-family: 'Furore';
		font-size: 36px;
		line-height: 1;
		color: #fff;
		cursor: pointer;
		&.active {
			background-color: $activeBlue;
		}
		@include respond-custom(1px, 350px) {
			width: 180px;
			background-position: 128px center;
			font-size: 30px;
			padding-top: 18px;
		}
	}

	.row {
		padding: 0 45px 50px 45px;
		@include respond-custom(0px, 1600px) {
			padding: 0 0 50px 0;
		}
	}

	.ticket-preview-wrapper {
		height: 300px;
		margin-top: 45px;
		position: relative;
		float: left;
		padding: 0 15px;

		a {
			display: block;
		}

		@include respond-custom(2151px, 9999px) {
			width: 25%;
		}

		@include respond-custom(1521px, 2150px) {
			width: 33.3333333333333%;
		}

		@include respond-custom(1051px, 1520px) {
			width: 50%;
		}

		@include respond-custom(320px, 1050px) {
			width: 100%;
		}

		@include respond-custom(320px, 420px) {
			height: 270px;
		}

		@include respond-custom(320px, 980px) {
			&:first-of-type {
				margin-top: 105px;
			}
		}

		.ticket-preview {
			height: 300px;
			border-radius: 10px;
			background-color: $ticketGrey;
			@include respond-custom(661px, 9999px) {
				background-image: none !important;
			}
			@include respond-custom(1px, 660px) {
				height: 260px;
			}
			.ticket-preview-mobile-bg-shade {
				margin: -1px;
				border-radius: 10px;
				padding: 10px 10px 10px 20px;
				background-color: rgba(27, 30, 35, 0.90);
				@include respond-custom(661px, 9999px) {
					background-color: transparent;
				}
				@include respond-custom(1px, 661px) {
					height: 260px;
				}
			}
		}

		.preview-info {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			font-family: 'CaviarDreams-Bold';
			font-size: 16px;
			color: #fff;
			line-height: 1;
			padding-right: 20px;
			@include respond-custom(1px, 660px) {
				width: 100%;
			}
			h3 {
				margin-top: 10px;
				font-family: 'Furore';
				font-size: 18px;
				color: #fff;
				height: 40px;
				@include respond-custom(320px, 460px) {
					font-size: 18px;
					height: 35px;
				}
			}
			p {
				margin-bottom: 0;
			}
			.tools-required {
				margin: 20px 0;
				display: inline-block;
				text-transform: uppercase;
				position: relative;
				&.false {
					opacity: 0.3;
					text-decoration: line-through;
				}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					top: -5px;
					right: 0;
					width: 26px;
					height: 26px;
					background-size: 26px;
					background-image: url("/images/checkbox-checked.png");
				}
				&.false:after {
					background-image: url("/images/checkbox-unchecked.png");
				}
			}
			.scale-wrapper {
				margin-bottom: 15px;
				.scale-label {
					display: inline-block;
					width: 60%;
					text-transform: uppercase;
					@include respond-custom(1px, 660px) {
						width: auto;
					}
				}
				.scale {
					display: inline-block;
					width: 40%;
					width: 80px;
					height: 14px;
					box-sizing: border-box;
					background-size: cover;
					@include respond-custom(441px, 660px) {
						float: right;
						margin-right: 35%;
					}
					@include respond-custom(1px, 440px) {
						float: right;
						margin-right: 0;
					}
				}
				&.easy .scale {
					background-image: url("/images/bar-easy.png");
				}
				&.medium .scale {
					background-image: url("/images/bar-medium.png");
				}
				&.hard .scale {
					background-image: url("/images/bar-hard.png");
				}
			}
		}

		.preview-photo {
			display: inline-block;
			vertical-align: top;
			float: right;
			width: 50%;
			max-width: 300px;
			@include respond-custom(1px, 660px) {
				display: none;
			}
			.preview-photo-img {
				height: 280px;
				width: 100%;
				border-radius: 5px;
				background-size: cover;
				background-position: center;
				@include respond-custom(320px, 500px) {
					height: 140px;
					width: 140px;
					float: right;
				}
			}
		}
	}

	.unprivileged {
		font-size: 40px;
		margin-top: 20px;
		color: $errorText;
	}

}