.filter {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	margin-bottom: 3px;
	cursor: pointer;
	padding: 0;
	max-height: 60px;
	border: 2px solid #000;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
/*	-webkit-transition: max-height 0.2s;
	-o-transition: max-height 0.2s;
	transition: max-height 0.2s;*/
}

.filter:focus {
	outline: none;
	border: 2px solid #000;
}

.filter[disabled] {
	border: 2px solid #888;
	color: #888;
	cursor: default;
}

.filter[disabled] .indicator {
	display: none;
}

.filter.enabled {
	background-color: #d9d9ee;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
	max-height: 98px;
}

.filter.unfolded {
	max-height: 500px;
}

.filter:hover {
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
	transform: matrix(1, 0, 0, 1, -1, -1);
}

.filter[disabled]:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.filter h3 {
	margin: 19px 15px 19px 15px;
}

.indicator {
	position: absolute;
	width: 26px;
	height: 26px;
	right: 15px;
	top: 15px;
	-webkit-background-size: 100%;
	background-size: 100%;
	border-right: none;
	border-left: none;
	border-top: none;
	margin: 0;
}

.filter .caret.caret-down {
	background-image: url('../../public/images/caret-down.png');
}

.filter .caret.caret-up {
	background-image: url('../../public/images/caret-up.png');
}

.filter .caret.caret-cross {
	background-image: url('../../public/images/cross.png');
}

.filter .arrow.arrow-down {
	background-image: url('../../public/images/arrow-down.png');
}

.filter .arrow.arrow-up {
	background-image: url('../../public/images/arrow-up.png');
}

.filter .checkbox.checkbox-unchecked {
	background-image: url('../../public/images/checkbox-unchecked.png');
}

.filter .checkbox.checkbox-checked {
	background-image: url('../../public/images/checkbox-checked.png');
}

.filter .dropdown-items {
	margin: 0;
	margin-bottom: 30px;
}

.filter .dropdown-items li {
	list-style-type: none;
	text-align: left;
	padding: 5px 0 5px 20px;
	font-size: 16px;
	text-transform: capitalize;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

.filter .dropdown-items li:hover, .filter .dropdown-items li.active {
	background-color: #d9d9ee;
}

.filter.enabled .dropdown-items li {
	padding: 0 0 0 20px;
	height: 0;
}

.filter.enabled .dropdown-items li.active {
	height: auto;
	padding: 5px 0 5px 20px;
	font-weight: bold;
	text-decoration: underline;
}