body {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
  	font-family: sans-serif;
}

#root {
	height: 100%;
}

.master-page {
	height: 100%;
}

h1 {
	color: #fff;
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 
		-2px -2px 0 #000,
		-2px 0 0 #000,
		-2px 2px 0 #000,
		0px -2px 0 #000,
		0px 2px 0 #000,
		2px -2px 0 #000,
		2px 0px 0 #000,
		2px 2px 0 #000;
}

.spoiler {
	background-color: #eee;
	color: #eee;
	text-shadow: none;
	text-decoration: none;
	display: inline-block;
}

.spoiler:hover {
	background-color: transparent;
	color: #000;
}

.scale-label {
	font-weight: bold;
}

.scale > div {
	display: inline-block;
	width: 30%;
	height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #000;
	margin: 10px 3% 0 0;
	border-radius: 3px;
}

.scale .easy:first-child {
	background-color: #3c3;
}

.scale .medium {
	background-color: #ee5;
}

.scale .medium:last-child {
	background-color: transparent;
}

.scale .hard {
	background-color: #c33;
}