#__spm {
	padding: 30px;
}

#__spm h1 {
	margin: 0 0 15px 0;
	text-transform: none;
	font-size: 45px;
}

#__spm hr {
	border: none;
	height: 15px;
	background-color: #55e;
}

#__spm .tickets {
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

#__spm .filters {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

#__spm .ticket-preview {
	display: inline-block;
	width: 30%;
	height: 140px;
	vertical-align: top;
	margin: 15px 1.5% 0px 1.5%;
	background-color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-radius: 8px;
	-webkit-box-shadow: -2px -2px 2px #eee;
	box-shadow: -2px -2px 2px #eee;
	overflow: hidden;
}

#__spm .preview-photo, #__spm .preview-info {
	display: inline-block;
	width: 50%;
	height: 100%;
	vertical-align: top;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	color: #000;
}

#__spm .preview-info {
	padding-left: 7px;
	width: 50%;
	font-size: 11px;
}

#__spm .preview-info h3 {
	font-size: 14px;
	margin: 8px 0 4px 0;
}

#__spm .preview-info hr {
	height: 1px;
	background-color: #000;
	margin: 2px 0 4px -5%;
}

#__spm .preview-info .preview-location {
	margin: 5px 0;
	color: #666;
}

#__spm .tools-req {
	width: 20px;
	margin: 0 0 -5px 10px;
}

#__spm .preview-photo-img {
	height: 100%;
	position: absolute;
	left: 0;
}

#__spm .scale-wrapper > div {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	margin-top: 7px;
}

#__spm .scale div {
	height: 10px;
	margin: 2px 3% 0 0;
}

#__spm .filters h2 {
	font-size: 28px;
	text-transform: uppercase;
}