.App, .Menu {
  text-align: center;
}

.App-header, .Menu-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Menu-header {
  background-color: #822;
}

.menu-link, .app-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #eef;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}

.app-link {
  background-color: #efe;
  color: #822;
}
